/* importar bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');


:root {
    /* colores */
    --color-yellow: #FAAE2B;
    --color-green:#00473E;
    --color-dark:#000000;
    --color-whithe:#FFFFFF;

    /* Fuentes */

    /* Sapacers */
    --spacer-lg: 3rem;
    --spacer-md: 1rem;
    --spacer-sm: 0.5rem;
}


body.container-portfolio {
    margin: 0 auto;
    color: var(--color-whithe);
    background-color: var(--color-yellow);
    font-family: var(--font-body);
  }
  *::selection {
    background-color: var(--color-green);
    color: var(--color-yellow);
  }

/* Fonts */
h1,h2.naranja {
    color: var(--color-yellow);

}

p{
    font-family: var(--font-body)
}

h4,h6.titles {
    font-family: var(--font-headings);
  }
  
p{
    font-family: var(--font-body);
}


