/* importar bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* colores */
    --color-yellow: #FFBF00;
    --color-green:#00332C;
    --color-dark:black;
    --color-whithe:white;


    /* Fuentes */
      --font-titles: "Bakbak One", sans-serif;
      --font-cuerpo: "Be Vietnam Pro", sans-serif;
    /* Sapacers */
    --spacer-lg: 3rem;
    --spacer-md: 1rem;
    --spacer-sm: 0.5rem;

body.container-portfolio {
    margin: 0 auto;
    color: var(--color-whithe);
    background-color: var(--color-yellow);
    font-family: var(--font-body);
  }
  *::selection {
    background-color: var(--color-green);
    color: var(--color-yellow);
  }

/* Fonts */
h1.titulos {
  font-family: "Bakbak One", sans-serif;
  font-size: 3rem;
  text-align: center;
  position: relative;
  z-index: 0;
  padding-top: 2vw;
  color:#FFBF00;
}

h2.titulo {
  font-family: "Bakbak One", sans-serif;
  position: relative;
  z-index: 0;
  color:#FFBF00;
  padding-top: 2vw;
}

h3.text {
  font-size: 2vw;
  font-family: "Be Vietnam Pro", sans-serif;
  position: relative;
  z-index: 0;
  color: black;
  padding-top: 2vw;
}

h5.info {
  font-size: 2vw;
  font-family: "Be Vietnam Pro", sans-serif;
  position: relative;
  z-index: 0;
  color: white;
  padding-top: 2vw;
}

a.nav-link:hover{
  background-color: #00332C;
  border-radius:4vw solid black;
  color: white;
  border-radius:2vw;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

@media all and (max-width: 600px) {
.navbar-nav {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: right;
  text-align: center;
  }
}


div.rect {
  background-color: white;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1vw;
  border-radius:3vw;
  margin: 3vw;
  text-align: center;
  color: black;
  padding-top: 2vw;
}

div.superior {
  background-color: dark;
  width: 100%;
  height: 80px;
  object-fit: cover;
}

button:hover{
  background-color: #FFBF00;
  color:aliceblue
}

div.piedepagina {
  position: fixed;
  bottom: 0%;
  background-color: #FFBF00;
  width: 100%;
  height: 2vw;
  color:#00332C;
  display: flex;
  justify-content: right;
  margin-right: 2%;
}
}